%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{deps, [
    {eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}} },
    {fs, ".*", {git, "git://github.com/synrc/fs.git", {branch, "master"}} },
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}} },
    {recon, ".*", {git, "git://github.com/ferd/recon.git", {branch, "master"}} },
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.2.1"}} },
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "e50af6e"}} },
    {configgins, ".*", {git, "git@github.com:Amplify-Social/Configgins.git", {branch, "master"}} }
]}.

{sub_dirs, [
           ]}.
{erl_opts, [debug_info, 
    %%warnings_as_errors,
    {parse_transform, lager_transform},
    {lager_truncation_size, 8192}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{edoc_opts, [{private, true}, {hidden, true}, {todo, true}]}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
%% {cover_enabled, true}.
{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

%% {plugins, [rebar_covertool]}.
%% {cover_export_enabled, true}.
%% {covertool_eunit, {".eunit/", "eunit.coverage.xml"}}. % Source file name, output report file name
%% {covertool_ct, {"resterl.coverage", "resterl.coverage.xml"}}.

