{sys, [
       {lib_dirs, ["..", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "sqor_ft_rest", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         public_key,
         ssl,
         mnesia,
         inets,
         lager,
         ranch,
         amqp_client,
         rabbit_common,
         cowlib,
         cowboy,
         riakc,
         riak_pb,
         uuid,
         msgpack,
         jsx,
         jiffy,
         jobs,
         sqor_logger,
         sqor_riak,
         resterl,
         sqor_ft_rest
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sqor_ft_rest"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sqor_ft_rest, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "sqor_ft_rest"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/sqor_ft_rest", "bin/sqor_ft_rest"},
           {copy, "files/sqor_ft_rest.cmd", "bin/sqor_ft_rest.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/\{{environment}\}.sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/\{{environment}\}.vm.args",
                       "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
