[
 {lager, [
            %% What handlers to install with what arguments
            %% The defaults for the logfiles are to rotate the files when
            %% they reach 10Mb or at midnight, whichever comes first, and keep
            %% the last 5 rotations. See the lager README for a description of
            %% the time rotation format:
            %% https://github.com/basho/lager/blob/master/README.org
            %%
            %% If you wish to disable rotation, you can either set the size to 0
            %% and the rotation time to "", or instead specify a 2-tuple that only
            %% consists of {Logfile, Level}.
            %%
            %% If you wish to have riak log messages to syslog, you can use a handler
            %% like this:
            %%   {lager_syslog_backend, ["riak", daemon, info]},
            %%
            {handlers, [
                        {lager_console_backend, error},
                        {lager_file_backend, [
                                    {"/var/log/sqor_ft_rest-error.log", error, 10485760, "$D0", 5}
                                    ,{"/var/log/sqor_ft_rest-info.log", info, 10485760, "$D0", 5}
                                    ,{"/var/log/sqor_ft_rest-debug.log", debug, 10485760, "$D0", 5}
                                    ,{"/var/log/sqor_ft_rest-warning.log", warning, 10485760, "$D0", 5}
            ]}] },

            %% Whether to write a crash log, and where.
            %% Commented/omitted/undefined means no crash logger.
            {crash_log, "/var/log/sqor_ft_rest-crash.log"},

            %% Maximum size in bytes of events in the crash log - defaults to 65536
            {crash_log_msg_size, 65536},

            %% Maximum size of the crash log in bytes, before its rotated, set
            %% to 0 to disable rotation - default is 0
            {crash_log_size, 10485760},

            %% What time to rotate the crash log - default is no time
            %% rotation. See the lager README for a description of this format:
            %% https://github.com/basho/lager/blob/master/README.org
            {crash_log_date, "$D0"},

            %% Number of rotated crash logs to keep, 0 means keep only the
            %% current one - default is 0
            {crash_log_count, 5},

            %% Whether to redirect error_logger messages into lager - defaults to true
            {error_logger_redirect, true},

            %% maximum number of error_logger messages to handle in a second
            %% lager 2.0.0 shipped with a limit of 50, which is a little low for riak's startup
            {error_logger_hwm, 100}
        ]},
 {sqor_riak, [
    {hosts, [
        {pool3, "54.88.159.2"}
    ]}
 ]},
 {resterl, [
    {host, "http://rest-qa.sqor.com"}
 ]},
 {entity_cache, [
    {is_master, false},
    {is_rest_server, false},
    {master_node, 'sqor_ft_rest@127.0.0.1'},
    {amqp_connect_str, "amqp://sqoradmin:VFNz0n3!@devrabbitmq2.sqor.com:5672?heartbeat=5"}
 ]},
 {sqor_ft_rest, [
    {search_index, "entities"}
 ]}
].

